*{
    font-family: "Montserrat";
}
body {
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}
#heading{
    display:flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 1.8rem;
    color:var(--light-background);
    height:5rem; 
    background:linear-gradient(to left, #00FF70, #0070E1);
}
#userimg{
    border-radius:50%;
    height:10rem;
}
.avatar{
    text-align: center;
}