@font-face{
    font-family: 'Montserrat';
    src:url(./assets/font/Montserrat-VariableFont_wght.ttf) format('truetype');
  }
  html{
    font-family: 'Montserrat';
  }


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 0px;
}