@font-face{
    font-family: 'Montserrat';
    src:url(./assets/font/Montserrat-VariableFont_wght.ttf) format('truetype');
  }
@font-face{
  font-family: 'Hind Siliguri';
  src:url(./assets/font/HindiSiliguri-Regular.ttf) format('truetype');
}
@font-face{
  font-family:'Lora';
  src:url(./assets/font/Lora-VariableFont-wght.ttf) format('truetype');
}
@font-face{
  font-family:'Montserrat-SubrayadaB';
  src:url(./assets/font/MontserratSubrayada-Bold.ttf) format('truetype');
}
@font-face{
  font-family:'Montserrat-SubrayadaR';
  src:url(./assets/font/MontserratSubrayada-Regular.ttf) format('truetype');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 0px;
}
*{font-family: Montserrat;}